<footer class="footer">
  <div class="footer-content">
    <div class="newsletter">
      <h2>Subscribe Our Newsletter</h2>
      <form class="subscribe-form">
        <input type="email" placeholder="Enter your email">
        <button type="submit">
          <i class="fas fa-paper-plane"></i>
        </button>
      </form>
    </div>
    
    <div class="footer-columns">
      <div class="company-info">
        <img src="https://t3.ftcdn.net/jpg/01/42/15/24/360_F_142152431_qZyGglnYiyCm8TF2vzXdT2giJ9uOFG9v.jpg" alt="Caregiver Logo" class="logo">
       <p>ELDERLY CARE AND SUPPORT SYSTEM</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      
      <div class="quick-links">
        <h3>QUICKLINKS</h3>
        <ul>
          <li>ElderlyCare&#64;gmail.com</li>
          <li>(+91) 0123456789</li>
          <li>MIT Bengaluru</li>
          <li>Karnataka-560064</li>
        </ul>
      </div>
      
      <div class="contact">
        <h3>CONTACT</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      
      <div class="support">
        <h3>SUPPORT</h3>
        <ul>
          <li><a href="#">Support Desk</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy;2023 Toriqul. All rights reserved.</p>
    <div class="footer-links">
      <a href="#">Terms & Agreements</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>